body {
	font-size:13px;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.slider {
  margin: 0 auto;
  max-width: 100%;
  
}

.slide_viewer {
  height: 730px;
  overflow: hidden;
  position: relative;
}

.slide_group {
  height: 100%;
  position: relative;
  width: 100%;
}

.slide {
  display: none;
  height: 100%;
  position: absolute;
  width: 100%;
}

.slide:first-child {
  display: block;
}

.slide:nth-of-type(1) {
  background: url(../img/532666.jpg) no-repeat left top;
  background-size:cover;
  
  
 
}

.slide:nth-of-type(2) {
   background: url(../img/556872.jpg) no-repeat left top;
  background-size:cover;
}

.slide:nth-of-type(3) {
   background: url(../img/713546.jpg) no-repeat left top;
  background-size:cover;
}



.slide_buttons {
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
}

a.slide_btn {
  color: #474544;
  font-size:42px;
  margin: 0 0.175em;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.slide_btn.active, .slide_btn:hover {
  color: #428CC6;
  cursor: pointer;
}

.directional_nav {
  height: 70px;
  margin: 0 auto;
  max-width: 940px;
  position: relative;
  top: -340px;
}

.previous_btn {
  bottom: 400px;
  left: 10px;
  margin: auto;
  position: absolute;
  top: 0;
}

.next_btn {
  bottom: 400px;
  margin: auto;
  position: absolute;
  right: 10px;
  top: 0;
}

.previous_btn, .next_btn {
  cursor: pointer;
  height: 65px;
  opacity: 0.5;
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -ms-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
  width: 65px;
}

.previous_btn:hover, .next_btn:hover {
  opacity: 1;
}

@media only screen and (max-width: 767px) {
	html{
		font-size:10px;
		}
  .previous_btn {
    display:none;
  }
  .next_btn {
	display:none;
  }
  .slide_viewer {
  height: 250px;
}

.gameplay{
	height:300px;
	}
iframe{
	height:300px;
	
	}	
.bo{
	margin-bottom:20px;
	}
}



	